<div id="main" class="wrapper">
  <h1>Welcome, view all tweets</h1>

  <div class="actions">
    <a class="ui button action add" href="/tweets/new"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </div>

  <% tweets = Tweet.all %>
  <% if !tweets.empty? %>
    <ul class="tweet-list">
      <% tweets.each do |tweet|%>
        <li class="tweet-detail">
          <img src="/images/avatar-1.png" alt="profile avatar">
          <div class="tweet-wrap">
            <p class="tweet-username"><a href="/users/<%= tweet.user.slug %>"><%= tweet.user.username %></a></p>
            <%
            hours = (Time.now.to_i - tweet.created_at.to_i)/60/60
            hours = (hours == 0)? 1 : hours
            %>
            <p class="tweet-timestamp"><%= hours %>h</p>
            <p class="tweet-content">
                <%
                    str = tweet.content
                    if str.size > 140
                      str = "#{str.slice(0, 136)}..."
                    end
                %>
              <a href="/tweets/<%= tweet.id %>"><%= str %></a>
            </p>
            <div class="tweet-options">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              <i class="fa fa-comment-o" aria-hidden="true"></i>
              <i class="fa fa-retweet" aria-hidden="true"></i>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No tweets found!</p>
  <% end %>


</div>
