<h2>Welcome, <%= @user.username %>!</h2>
<h4> <%= @user.email %> </h4>

<% if @tweets == [] %>
  <h2> There are no tweets yet! </h2>
<% else %>
  <% @tweets.reverse.each do |tweet| %>
    <div style="border-style: solid; color: black;">
      <% if tweet.user.id != @user.id %>
        <h2>Tweet by: <%= tweet.user.username %></h2>
      <% end %>
      <h3><%= tweet.content %></h3>
    </div>
    <br>
  <% end %>
<% end %>


<form method="GET" action="/users/<%= @user.slug %>">
  <input type="submit" value="Profile">
</form>

<form method="GET" action="/logout">
  <input type="submit" value="Log Off">
</form>

<form method="GET" action="/tweets/new">
  <input type="submit" value="submit">
</form>

<form method="GET" action="/users/edit">
  <input type="submit" value="Edit Account">
</form>
